$spaceDim: 60px;

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dimgray;
  font-family: sans-serif;
}

.container {
  background-color: lightgreen;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 10px solid darkred;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 3px gray, 10px 10px 30px 0 black;
}

.space {
  height: $spaceDim;
  width: $spaceDim;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dark {
  background-color: green;
}
.light {
  background-color: greenyellow;
}
.circle {
  height: $spaceDim * .88;
  width: $spaceDim * .88;
  border-radius: 50%;
  box-shadow: 3px 3px 10px 5px darkred;
  cursor: not-allowed;
}
.playerOne {
  background-color: white;
  box-shadow: inset 0 0 15px 0 gray, 2px 2px 0 0px darkred;
}
.playerTwo {
  background-color: black;
  box-shadow: inset 0 0 15px 0 white, 2px 2px 0 0px darkred;
}
.controlPanel {
  margin: 20px;
  border: 5px solid darkred;
  border-radius: 10px;
  background-color: greenyellow;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: 5px 5px 10px 0 black;
}
.resetBtn {
  border: 2px solid green;
  border-radius: 10px;
  background-color: greenyellow;
  padding: 10px 20px;
  cursor: pointer;
  transition: color .2s, background-color .2s;
  &:hover {
    background-color: green;
    color: greenyellow;
  }
}
#gameOverModal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(30,30,30, .9);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#gameOver {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: darkred;
  color: white;
  border: 5px solid darkcyan;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 black;
  padding: 25px;
  width: 400px;

  #scores {
    display: flex;
    justify-content: space-around;
    width: 70%;
  }
}